{% extends "main/layout.html" %}
{% load static %}
{% block title %}
    Codex
{% endblock %}
{% block body %}
    <link href="{% static 'codex/codex.css'%}" rel="stylesheet">
    <script src="{% static 'codex/codex.js' %}"></script>
    <div class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status" id="spinner">
      <span class="sr-only">Loading...</span>
    </div>
    </div>
    <div id="search_book_form_div" align="center">
        <h2 id="codex_header">Scour the Internet for books</h2>
        <form action="{% url 'book_results' %}" method="post" id="search_book_form">
            {% csrf_token %}
            {{search_book_form}}
            <input type="submit" value="Search" id="book_search_button" class="btn btn-info">
        </form>
    </div>
    <div align="center">
    <div class="spinner-border text-success" role="status" id="search_books_spinner">
        <span class="sr-only">Loading...</span>
    </div>
    </div>
    <div class="checkout">
        <div align="center">
        <h2>Checkout</h2>
        </div>
        <h2 class="user_credits">Your Credits: </h2>
        <h2 class="grand_total">Grand Total: </h2>
        <h3>Purchasing the following items:</h3>
        <div align="right">
        <input type="submit" class="btn btn-success" value="Purchase" id="purchase_button">
        <input type="reset" class="btn btn-danger" value="Cancel" id="cancel_purchase_button">
        </div>
        <div class="checkout_item">
        <div class="cover_image_div">
            <img src="" class="cover_image">
        </div>
        <form action="{% url 'purchase_listing' %}" method="post" class="purchase_form">
            {% csrf_token %}
            {{purchase_form}}
            <p class="total">Total: </p>
        </form>
        <div class="alert alert-danger" role="alert" id="failed_transaction">
        Transaction Failed. Insufficient Funds.
        </div>
        </div>
    </div>
    <div id="book_result">
    </div>
    <form action="{% url 'manage_review' %}" method="post" id="user_review_form">
            {% csrf_token %}
            {{add_review_form}}
            <input type="submit" class="btn btn-success" value="Give Review" id="submit_review_button">
            <input type="reset" class="btn btn-danger" value="Cancel" id="cancel_review_button">
    </form>
    {% if user.is_superuser %}
     <form action="{% url 'update_listing' %}" method="POST" id="listing_form">
            {% csrf_token %}
            {{listing_form}}
            <input type="submit" value="List" class="btn btn-success" id="create_listing_button">
            <input type="reset" value="Cancel" class="btn btn-danger" id="cancel_create_listing_button">
        </form>
    {% endif %}
    <div id="book_results"></div>
    <div id="pagination_div">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="pagination_list">
            </ul>
        </nav>
    </div>
    <div align="center" id="footer">
        <p>
            Credit to Google Books API for search results.
        </p>
    </div>
{% endblock %}
