{% extends "main/layout.html" %}
{% load static %}
{% block title %}
    Book Crate
{% endblock %}
{% block body %}
<input type="hidden" value="{{user}}" id="username">
<script src="{% static 'book_crate/book_crate.js'%}"></script>
<link rel="stylesheet" href="{% static 'book_crate/book_crate.css'%}">
<div align="center">
    <h2 id="header">Book Crate</h2>
</div>
{% if user.is_superuser %}
<h3 id="superuser_header"> Welcome, Librarian {{user}} <button id="create_listing" class="btn btn-success"><i class="bi bi-plus-square"></i>Add Listing</button> <button id="manage_donations" class="btn btn-warning"><i class="bi bi-book"></i> Manage Book Donations</button></h3>
<form action="/search_listing" method="POST" id="search_listing_form">
    <hr>
    {% csrf_token %}
    {{search_listing_form}}
    <input type="submit" value="Fetch Book" class="btn btn-success" id="search_listing_button">
    <input type="reset" value="Cancel" class="btn btn-danger" id="cancel_listing_button">
</form>
<div align="center">
<div class="spinner-border text-success" role="status" id="search_book_spinner">
  <span class="sr-only">Loading...</span>
</div>
</div>
<div id="search_result">
    <div id="search_cover_image_div">
        <img id="search_cover_image" src="">
    </div>
        <div id="search_book_info">
            <p id="search_book_title"></p>
            <p id="search_book_author"></p>
        <form action="/update_listing" method="POST" id="listing_form">
            {% csrf_token %}
            {{listing_form}}
            <input type="submit" value="List" class="btn btn-success" id="create_listing_button">
            <input type="reset" value="Cancel" class="btn btn-danger" id="cancel_create_listing_button">
        </form>
    </div>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert" id="no_search_result_alert">
  No results found. Are you sure that the ISBN is correct?
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="close_no_result_alert">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<hr>
<div id="donations_div">
    <div align="center"  id="donations_spinner">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    </div>
</div>
{% elif user.is_authenticated %}
<h3 id="user_header"> Welcome, {{user}}
<button id="donate_books" class="btn btn-success"><i class="bi bi-archive"></i> Donate Books</button>
<button id="cart_icon" class="btn btn-dark">
<i class="bi bi-cart4"></i>
Cart
</button>
<hr>
</h3>
<div class="alert alert-warning" role="alert" id="no_items">
You haven't selected any books.
</div>
<div align="right">
<button class="btn btn-success" id="checkout_button">Proceed to Checkout</button>
</div>
<div class="checkout">
    <div align="center">
    <h2>Checkout</h2>
    </div>
    <h2 class="user_credits">Your Credits: </h2>
    <h2 class="grand_total">Grand Total: </h2>
    <div align="right">
    <input type="submit" class="btn btn-success" value="Purchase" id="purchase_button">
    <input type="reset" class="btn btn-danger" value="Cancel" id="cancel_purchase_button">
    </div>
    <div class="alert alert-danger" role="alert" id="failed_transaction">
    Transaction Failed. Insufficient Funds.
    </div>
    <h3>Purchasing the following items:</h3>
    <div class="checkout_listings"></div>
    <div class="checkout_listing">
        <div class="cover_image_div">
            <img src="" class="cover_image">
        </div>
        <form action="{% url 'purchase_listing' %}" method="post" class="purchase_form">
            {% csrf_token %}
            {{purchase_form}}
            <p class="total">Total: </p>
        </form>
    </div>
</div>
<div id="user_cart">
    <div align="center" id="cart_spinner">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    </div>
</div>
<div id="user_donations">
    <form action="/book_result" method="post" id="donate_search_form">
            {% csrf_token %}
            {{search_donate_form}}
            <input type="submit" value="Fetch Book" class="btn btn-success" id="search_donate_button">
            <input type="reset" value="Cancel" class="btn btn-danger" id="cancel_donate_button">
    </form>
    <div align="center" id="donate_book_spinner">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    </div>
    <div id="donate_result">
        <div class="result_book_cover_image_div">
            <img src="" class="result_book_cover_image">
        </div>
        <div class="book_info_div">
            <p class="result_book_title"></p>
            <p class="result_book_author"></p>
            <form action="/update_donation" method="POST" id="donate_form">
            {% csrf_token %}
            {{donate_form}}
            <input type="submit" value="Donate" class="btn btn-success" id="create_donate_button">
            <input type="reset" value="Cancel" class="btn btn-danger" id="cancel_create_donate_button">
    </form>
        </div>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="no_donate_result_alert">
        No results found. Are you sure that the ISBN is correct?
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="close_no_donate_result_alert">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
</div>
{% endif %}
<div id="search_book_form_div" align="center">
    <form action="{% url 'load_listings' %}" method="post" id="search_book_form">
        {% csrf_token %}
        {{search_book_form}}
        <br>
        <input type="submit" value="Search" class="btn btn-primary" id="book_search_button">
        <input type="reset" value="Reset" class="btn btn-secondary" id="book_reset_button">
        </form>
</div>
<div id="listing_results"></div>
<div id="pagination_div">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="pagination_list">
        </ul>
    </nav>
</div>
{% endblock %}
